
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .checkbox-group,
  .radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn-group {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-submit,
  .btn-reset {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .btn-reset {
    margin-left: 10px;
    background-color: #928a8a;
    /* cursor: not-allowed; */
  }
  
  .error-message {
    color: #ff0000;
    font-size: 14px;
  }
  
  .data {
    margin-top: 20px;
  }
  
  label {
    display: inline;
    font-weight: bold;
  }
  